 .u-section-1 {
  background-image: linear-gradient(white, #11a3e5);
  min-height: 1100px;
}

.u-section-1 .u-shape-1 {
  width: 1088px;
  height: 918px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 176px calc(((100% - 1140px) / 2) + -163px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 690px;
  height: 691px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/istockphoto-1367711738-612x612.jpg");
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -804px 0 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 541px;
  min-height: 441px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -911px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 45px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: italic;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + -148px);
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 660px;
    margin-top: -842px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 211px);
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    margin-top: -412px;
    margin-left: calc(((100% - 1140px) / 2) + 66px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 816px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 509px;
    height: 509px;
    margin-top: -804px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    margin-top: -911px;
    margin-left: calc(((100% - 1140px) / 2) + 176px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 535px;
    width: 519px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 377px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-1 {
    width: 426px;
    margin-left: calc(((100% - 1140px) / 2) + 266px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 378px;
    width: 328px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    width: 271px;
    height: 271px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 747px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 410px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 8px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 265px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 13px;
}

.u-section-2 .u-text-8 {
  margin: 0 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -108px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 777px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -48px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #11a3e5);
}

.u-section-3 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-3 .u-shape-1 {
  height: 947px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 915px;
  margin: -812px auto 196px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
  min-height: 338px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 338px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/images-15.jpeg");
  background-position: 50% 50%;
  min-height: 338px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 338px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 338px;
  background-image: url("images/images-16.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 472px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 17px;
}

.u-section-3 .u-text-5 {
  margin: 15px 13px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-3 .u-shape-1 {
    height: 858px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 792px;
    margin-top: -777px;
    margin-bottom: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-3 .u-shape-1 {
    height: 823px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 629px;
    margin-top: -757px;
    margin-bottom: 126px;
  }

  .u-section-3 .u-image-1 {
    min-height: 384px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 384px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 307px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2413px;
  }

  .u-section-3 .u-shape-1 {
    height: 583px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -518px;
    margin-bottom: 58px;
    margin-left: 44px;
  }

  .u-section-3 .u-image-1 {
    min-height: 509px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 217px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2064px;
  }

  .u-section-3 .u-shape-1 {
    height: 451px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 268px;
    margin-top: -386px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 242px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 288px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: linear-gradient(45deg, white, #11a3e5);
}

.u-section-4 .u-sheet-1 {
  min-height: 682px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 54px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: -14px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 400px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-4 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 72px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 30px 0 42px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-4 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 72px;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 30px 0 42px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-4 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 72px;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 30px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 330px;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-4 .u-text-3 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-4 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-4 .u-text-9 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 758px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 674px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-3 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-6 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-9 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: 19px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: url("images/school-children-running-to-school-in-rural-kerala-D0K90F.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1354px;
}

.u-section-5 .u-image-1 {
  width: 422px;
  height: 286px;
  object-position: 0% 50%;
  margin: 18px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-5 .u-image-1 {
    width: 724px;
    height: 724px;
    background-position: 50% 50%;
    margin-top: 11px;
    margin-right: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-image-1 {
    width: 594px;
    height: 594px;
    margin-top: 182px;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-5 .u-image-1 {
    width: 440px;
    height: 440px;
    margin-right: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-5 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-right: auto;
    margin-left: 400px;
  }
}